## Settings file was created by plugin PersistentPurchases v1.1.1
## Plugin GUID: PersistentPurchases

[Unlockables]

# Setting type: Boolean
# Default value: true
Default = true

# Setting type: Boolean
# Default value: true
Green suit = true

# Setting type: Boolean
# Default value: true
Hazard suit = true

# Setting type: Boolean
# Default value: true
Pajama suit = true

# Setting type: Boolean
# Default value: true
Cozy lights = true

# Setting type: Boolean
# Default value: false
Teleporter = false

# Setting type: Boolean
# Default value: true
Television = true

# Setting type: Boolean
# Default value: true
Cupboard = true

# Setting type: Boolean
# Default value: true
File Cabinet = true

# Setting type: Boolean
# Default value: true
Toilet = true

# Setting type: Boolean
# Default value: true
Shower = true

# Setting type: Boolean
# Default value: true
Light switch = true

# Setting type: Boolean
# Default value: true
Record player = true

# Setting type: Boolean
# Default value: true
Table = true

# Setting type: Boolean
# Default value: true
Romantic table = true

# Setting type: Boolean
# Default value: true
Bunkbeds = true

# Setting type: Boolean
# Default value: true
Terminal = true

# Setting type: Boolean
# Default value: false
Signal translator = false

# Setting type: Boolean
# Default value: false
Loud horn = false

# Setting type: Boolean
# Default value: false
Inverse Teleporter = false

# Setting type: Boolean
# Default value: true
JackOLantern = true

# Setting type: Boolean
# Default value: true
Welcome mat = true

# Setting type: Boolean
# Default value: true
Goldfish = true

# Setting type: Boolean
# Default value: true
Plushie pajama man = true

# Setting type: Boolean
# Default value: true
Purple Suit = true

# Setting type: Boolean
# Default value: false
Small Rug = false

# Setting type: Boolean
# Default value: false
Large Rug = false

# Setting type: Boolean
# Default value: false
Fatalities Sign = false

# Setting type: Boolean
# Default value: false
Dartboard = false

# Setting type: Boolean
# Default value: false
Mirror = false

# Setting type: Boolean
# Default value: false
Radio = false

# Setting type: Boolean
# Default value: true
Red Suit = true

# Setting type: Boolean
# Default value: true
Yellow Suit = true

# Setting type: Boolean
# Default value: true
Green Suit = true

# Setting type: Boolean
# Default value: true
Blue Suit = true

# Setting type: Boolean
# Default value: true
Pink Suit = true

# Setting type: Boolean
# Default value: true
White Suit = true

# Setting type: Boolean
# Default value: true
Black Suit = true

# Setting type: Boolean
# Default value: true
Black = true

# Setting type: Boolean
# Default value: true
Blue = true

# Setting type: Boolean
# Default value: true
Cyan = true

# Setting type: Boolean
# Default value: true
Dandelion = true

# Setting type: Boolean
# Default value: true
Dark Red = true

# Setting type: Boolean
# Default value: true
Gray = true

# Setting type: Boolean
# Default value: true
Magenta = true

# Setting type: Boolean
# Default value: true
Neon Green = true

# Setting type: Boolean
# Default value: true
Olive Green = true

# Setting type: Boolean
# Default value: true
Pink = true

# Setting type: Boolean
# Default value: true
Purple = true

# Setting type: Boolean
# Default value: true
Red = true

# Setting type: Boolean
# Default value: true
Sky Blue = true

# Setting type: Boolean
# Default value: true
White = true

# Setting type: Boolean
# Default value: true
Daphane Suit = true

# Setting type: Boolean
# Default value: true
Fred Suit = true

# Setting type: Boolean
# Default value: true
Scooby Suit = true

# Setting type: Boolean
# Default value: true
Shaggy Suit = true

# Setting type: Boolean
# Default value: true
Velma Suit = true

