## Settings file was created by plugin UnlockOnStart v0.4.0
## Plugin GUID: UnlockOnStart

[Decorations]

## Unlock the cozy lights on new save.
# Setting type: Boolean
# Default value: false
Cozy Lights = true

## Unlock the goldfish on new save.
# Setting type: Boolean
# Default value: false
Goldfish = true

## Unlock the jack-o-lantern on new save.
# Setting type: Boolean
# Default value: false
Jack-O-Lantern = true

## Unlock the plushie pajama on new save.
# Setting type: Boolean
# Default value: false
Plushie Pajama = true

## Unlock the record player on new save.
# Setting type: Boolean
# Default value: false
Record Player = false

## Unlock the romantic table on new save.
# Setting type: Boolean
# Default value: false
Romantic Table = false

## Unlock the shower on new save.
# Setting type: Boolean
# Default value: false
Shower = false

## Unlock the table on new save.
# Setting type: Boolean
# Default value: false
Table = true

## Unlock the television on new save.
# Setting type: Boolean
# Default value: false
Television = true

## Unlock the toilet on new save.
# Setting type: Boolean
# Default value: false
Toilet = false

## Unlock the welcome mat on new save.
# Setting type: Boolean
# Default value: false
Welcome Mat = true

[General]

## Enable debug logging.
# Setting type: Boolean
# Default value: true
Debugging = true

[Inverse Teleporter]

## Unlock the inverse teleporter on new save.
# Setting type: Boolean
# Default value: false
Inverse Teleporter = false

[Items]

## How many boomboxes to unlock on new save.
# Setting type: Int32
# Default value: 0
Boombox = 1

## How many extension ladders to unlock on new save.
# Setting type: Int32
# Default value: 0
Extension Ladder = 1

## How many flashlights to unlock on new save.
# Setting type: Int32
# Default value: 0
Flashlight = 0

## How many inhalants to unlock on new save.
# Setting type: Int32
# Default value: 0
TZP-Inhalant = 0

## How many jetpacks to unlock on new save.
# Setting type: Int32
# Default value: 0
Jetpack = 0

## How many keys to unlock on new save.
# Setting type: Int32
# Default value: 0
Key = 0

## How many lockpickers to unlock on new save.
# Setting type: Int32
# Default value: 0
Lockpicker = 0

## How many pro-flashlights to unlock on new save.
# Setting type: Int32
# Default value: 0
Pro-flashlight = 0

## How many radar boosters to unlock on new save.
# Setting type: Int32
# Default value: 0
Radar Booster = 0

## How many shotguns to unlock on new save.
# Setting type: Int32
# Default value: 0
Shotgun = 0

## How many shotgun shells to unlock on new save.
# Setting type: Int32
# Default value: 0
Shotgun Shells = 0

## How many shovels to unlock on new save.
# Setting type: Int32
# Default value: 0
Shovel = 0

## How many spray paints to unlock on new save.
# Setting type: Int32
# Default value: 0
Spray Paint = 0

## How many stun grenades to unlock on new save.
# Setting type: Int32
# Default value: 0
Stun Grenade = 0

## How many walkie-talkies to unlock on new save.
# Setting type: Int32
# Default value: 0
Walkie-Talkie = 0

## How many zap guns to unlock on new save.
# Setting type: Int32
# Default value: 0
Zap Gun = 0

[Modded]

Default = false

Lethal Slot Machine = true

Small Rug = true

Large Rug = true

Fatalities Sign = true

Dartboard = true

Mirror = true

Radio = true

Chess = true

Red Suit = false

Yellow Suit = false

Green Suit = false

Blue Suit = false

Pink Suit = false

White Suit = false

Black Suit = false

Black = false

Blue = false

Cyan = false

Dandelion = false

Dark Red = false

Gray = false

Magenta = false

Neon Green = false

Olive Green = false

Pink = false

Purple = false

Red = false

Sky Blue = false

White = false

Daphane Suit = false

Fred Suit = false

Scooby Suit = false

Shaggy Suit = false

Velma Suit = false

Arctic = false

Dog = false

Elite = false

Highclass = false

Hightech = false

Speedster = false

Used = false

Workout = false

[Modded.Items]

Mapper = 0

Lightning rod = 0

Rocket boots = 0

Missile launcher = 0

Flippers = 0

Vision enhancer = 0

Bulletproof vest = 0

Helmet lamp = 0

Headset = 0

Tactical helmet = 4

??? = 0

Portable Tele = 0

Advanced Portable Tele = 0

Night Vision Goggles = 0

Medkit = 0

Peeper = 0

Helmet = 0

Diving Kit = 0

Wheelbarrow = 0

Ouija Board = 1

Rocket Launcher = 0

Flaregun = 0

Emergency Flare (ammo) = 0

Toy Hammer = 0

Remote Radar = 0

Utility Belt = 0

Hacking Tool = 0

Pinger = 0

LaserGun = 0

Soundboard = 1

Polaroid = 1

Geiger Counter = 0

Shells = 0

Hoarding Bug Eggs = 0

Data PC = 0

Heart = 0

Crucifix = 0

Candelabra = 0

Teddy Bear = 0

Bones = 0

Pentagram = 0

Dart = 0

[Money]

## How much money to unlock on new save.
# Setting type: Int32
# Default value: 60
Money = 0

[Ship Upgrades]

## Unlock the loud horn on new save.
# Setting type: Boolean
# Default value: false
Loud Horn = true

## Unlock the signal translator on new save.
# Setting type: Boolean
# Default value: false
Signal Translator = true

[Suits]

## Unlock the hazmat suit on new save.
# Setting type: Boolean
# Default value: false
Hazard Suit = true

## Unlock the green suit on new save.
# Setting type: Boolean
# Default value: false
Green Suit = true

## Unlock the pajama suit on new save.
# Setting type: Boolean
# Default value: false
Pajama Suit = true

## Unlock the purple suit on new save.
# Setting type: Boolean
# Default value: false
Purple Suit = true

[Teleporter]

## Unlock the teleporter on new save.
# Setting type: Boolean
# Default value: false
Teleporter = false

